Procfile
makefile

# git
.git
.gitattributes
.gitignore
.github

# docker
docker-compose.yml
docker-compose.*
Dockerfile
.dockerignore
environment/

# environment and secretsss
.env

# Common
README.md
CHANGELOG.md

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/log/*
!/log/.keep

# tmp
/tmp/*
!/tmp/.keep
*.swp
*~
.DS_Store

# Dependencies and dependency managers
node_modules/
# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# ides
.idea
.vscode
