# ----- MONGO CONFIG

# -- using docker development env
DB_URI=mongodb://mongo/outpost_api_development

# -- running mongo locally
#DB_URI=mongodb://localhost:27017/outpost_api_development

# -- running with docker and connecting to db on host
#DB_URI=mongodb://host.docker.internal:27017/outpost_development

# ----- GEOCODING
GOOGLE_API_KEY=
