# ----- APP CONFIG

# doesn't apply in development env
# FORCE_SSL=true

# if you need to run the api on a different port on the host
# HOST_PORT=3000

# ----- MONGO CONFIG

# DB_URI=mongodb://localhost:27018/outpost_api_development

# ----- GEOCODING
GOOGLE_API_KEY=


# ----- DEBUGGING

#error: 0,
#warn: 1,
#info: 2,
#http: 3,
#debug: 4,
#DEBUG_LEVEL=debug


